################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.pdb
*.ilk
*.iobj
*.ipdb
*.tlog
